body {
  margin: 0;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 8px;
  margin: 0;
  z-index: 5;
  background: #ffffff54;
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

nav {
  position: absolute;
  background-color: #ffffff54;
  top: 0;
  bottom: 0;
  right: 0;
  display: grid;
  align-content: center;
  justify-content: center;
}

.nav-button {
  width: 32px;
  height: 32px;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

@media (width<500px) {
  nav {
    top: auto;
    left: 0;
    display: flex;
  }
}